.Palette {
  height: 100vh;
  font-size: 0;
  overflow: hidden;
}

.Palette-colors {
  height: 88%;
}

.Palette footer {
  font-size: 16px;
  height: 6vh;
  font-weight: bold;
  background-color: white;
  color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;
}

.emoji {
  font-size: 16px;
  margin: 0 15px;
}
